body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}
.maindiv {
    background-color: white;
    color: black;
    width: 475px;
    padding: 20px;
    border-radius: 25px;
    box-align: center;
    margin: auto;
}

.yellowHighlight {
    background-color: yellow;
}

.center {
    margin: 0px 75px;
}

.labelWidth {
    width: 120px;
}

.marginBottom {
    margin-bottom: 10px;
}

table td {
    padding-bottom: 10px;
}
